.basicTable thead tr {
  height: 40px;
}
td:hover {
  background: #cce2ff;
}

.basicTable tr.red {
  background: #fff6f6 !important;
  color: #9f3a38 !important;
}
.basicTable tr.today {
  background: #fcfff5 !important;
  color: #2c662d !important;
  -webkit-box-shadow: 0 0 0 #a3c293 inset;
  box-shadow: 0 0 0 #a3c293 inset;
}

.basicTable tr.blue {
  background-color: #f8ffff;
  color: #276f86;
}

.basicTable th.blue {
  background-color: #f8ffff;
  color: #276f86;
}

.basicTable th.red {
  background: #fff6f6 !important;
  color: #9f3a38 !important;
}

.basicTable th.today {
  background: #fcfff5 !important;
  color: #246425 !important;
}

.basicTable th {
  background: #f9fafb !important;
  color: rgba(0, 0, 0, 0.87);
}

.weeklyTr {
  height: 25px;
}

.basicTable th,
td {
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

.basicTable {
  width: 100%;
  background: #fff;
  margin: 1em 0;
  white-space: nowrap;
  /* border: 1px solid rgba(34, 36, 38, 0.15); */
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0.28571429rem;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  /* border-collapse: separate; */
  border-spacing: 0;
  font-size: 0.8em;
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  border-collapse: collapse;
}

.basicTable.wide tr {
  height: 40px;
  min-width: 80px;
  max-width: 130px;
}

.scheduleCard {
  padding-top: 0.5em;
  padding-left: 0.5em;
  font-weight: bold;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  color: white;
}

.box {
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  max-width: 1500px;
}

.sBox {
  max-width: 800px;
}

.formBox {
  max-width: 800px;
}
.initial {
  -webkit-flex: initial;
  flex: initial;
  width: 400px;
  min-width: 300px;
  background-color: "red";
}

.loginBox {
  height: 100vh;
}

.scheduleDetail tr {
  max-width: 800px;
}

.calendarBox {
  -webkit-flex: 3;
  flex: 3;
}
.calendar-container,
.calendar,
.calendar-header,
td,
tr {
  padding: 0;
  margin: 0;
}

.calendar-container {
  border: 1px solid rgba(34, 36, 38, 0.15);
  margin: 20px;
  padding-top: 3px;
}

.calendar {
  background-color: white;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.calendar-header {
  font-size: 1.2em;
}

.calendar-header td {
  position: center;
  border-spacing: 0;
  padding-left: 5px;
}

.day,
.empty-slot,
.week-day,
.current-day {
  text-align: center;
  height: 40px;
}

.week-day {
  font-size: 0.8em;
}

.day {
  font-size: 0.8em;
}

.day {
  cursor: pointer;
  width: 24px;
  height: 24px;
  line-height: 24px;
}

.day.red,
.week-day.red {
  color: #9f3a38;
}

.day.blue,
.week-day.blue {
  color: #276f86;
}
.current-day {
  background-color: #a3c293;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 2%;
  color: white;
}
.selected-day {
  background-color: yellow;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 2%;
  color: black;
}

.month-popup {
  position: absolute;
  padding: 5px;
  background: white;
  border: 2px solid skyblue;
}

.month-popup div {
  padding: 0.3em;
}

.nav-month {
  position: absolute;
  top: 0.6em;
  font-size: 0.6em;
  right: 3px;
}

.prev {
}

.next {
}

.editor-year {
  max-width: 3.6em;
}

.label-month,
.label-year {
  font-size: 0.6em;
}

.label-month {
  cursor: pointer;
}
